[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
requests = "*"
python-dotenv = "*"
urlextract = "*"

[dev-packages]

[scripts]
bot = "python bot.py"
